language: node_js
node_js:
  - "12"
sudo: false
dist: trusty
notifications:
  email: false
cache:
  directories:
    - ./node_modules
install:
  - npm install
script:
  - ng lint
  - ng build --prod --base-href /todo-app/
  - cp dist/todo-app/index.html dist/todo-app/404.html
deploy:
  provider: pages
  skip_cleanup: true
  github_token: $GITHUB_TOKEN  
  local_dir: dist/todo-app
  keep_history: true
  on:
    branch: master
